<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

<nav class="navbar navbar-expand">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/warbler-logo.png" alt="logo">
        <span>Warbler</span>
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">

      {% block searchbox %}
        <li>
          <form class="navbar-form navbar-end" action="/users">
            <input
                name="q"
                class="form-control"
                placeholder="Search Warbler"
                aria-label="Search"
                id="search">
            <button class="btn btn-default">
              <span class="bi bi-search"></span>
            </button>
          </form>
        </li>
      {% endblock %}

      {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
      {% else %}
        <li>
          <a href="/users/{{ g.user.id }}">
            <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
          </a>
        </li>
        <li><button class="btn btn-link" id="new-message" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@message">
          New Message
        </button></li>
        <li>
          <form id="user-logout-form" action="/logout" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <button class="btn btn-link" type="submit">Logout</button>
          </form>
        </li>
      {% endif %}

    </ul>
  </div>
</nav>

<div class="container">
  <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/messages/new" id="new-message-form">
            <input id="location" name="location" type="hidden" value="{{ request.url }}">
            {{ g.message_form.csrf_token }}
            <div>
              {% if g.message_form.text.errors %}
                {% for error in form.text.errors %}
                  <span class="text-danger">
                {{ error }}
              </span>
                {% endfor %}
              {% endif %}
              {{ g.message_form.text(
                  placeholder="What's happening?",
                  class="form-control",
                  rows="3") }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button class="btn btn-outline-success">Add my message!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/static/script.js"></script>
</body>
</html>
